/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

img{
  display: block;
  margin: 0 auto;
}
.warCards{
  display: none;
}
#war{
  display: none;
}
.playerBoard{
  display: none;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
